body {
    font-family: monospace;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

/*O root representa o elemento <html>*/
/*Criação de 3 variáveis*/
:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

/*foram chamadas quatro variáveis*/
.light-theme {
    --fontColor: var(--black);
    --bg: var(--green);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

/*foram chamadas quatro variáveis*/
.dark-theme {
    --fontColor: var(--green);
    --bg: var(--black);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

/* '*' = significa aplicar para todos os elem da página */
* {
    color: var(--fontColor);
    font-family: helvetica ;
}

/*Define que a tela de fundo será preta ou verde, de acordo com a alteração entre dark-the e ligh-the la no bdoy do html*/
body {
    background :var(--bg);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

/*Elimina um contorno retangular quando o botão é selecionado, melhorando a aparência.*/
.btn:focus { outline-style: none; }